{% extends "layout.html" %}
{% block content %}
    <div class="card detailed-view">
            <p>And here is a "detailed" kind of view:</p>
            <div class="row">
                <img src="http://www.impawards.com/2016/posters/deadpool_ver5.jpg" alt="Deadpool poster"
                     class="poster col col-third">
                <div class="col col-twothird">
                    <h2>Deadpool</h2>
                    <p class="small grayed">1h 48min <span class="separator">|</span> Action, Adventure, Comedy <span
                            class="separator">|</span> 12 February 2016 (USA)</p>
                    <p>A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that
                        leaves
                        him with accelerated healing powers and a quest for revenge.</p>
                </div>
            </div>
            <div>
                <p><b>Director:</b>&nbsp;<a href="#">Tim Miller</a></p>
                <p><b>Writers:</b>&nbsp;<a href="#">Rhett Reese</a>, <a href="#">Paul Wernick</a></p>
                <p><b>Stars:</b>&nbsp;<a href="#">Ryan Reynolds</a>, <a href="#">Morena Baccarin</a>, <a href="#">T.J.
                    Miller</a></p>
            </div>
        </div>
{% endblock %}