{% extends "layout.html" %}
{% block content %}
    <div class="card detailed-view">
        <div class="row">

            <div class="col col-twothird">
                <h2>{{ show['title'] }}</h2>
                <p class="small grayed">{{ show['runtime'] }} <span class="separator">|</span> {{ show['genres'] }}</p>
                <p><b>Actors:</b> {{ show['actors'] }}&nbsp;</p>
                <p><b>Rating:</b> {{ show['rating'] }}☆</p>
                <p><b>Description:</b> {{ show['overview'] }}</p>
            </div>
            {% if show['trailer'] %}
                <div id="player" class="trailer col col-third"></div>
            {% endif %}
        </div>
        <div>

        </div>
    </div>
    <script type="text/javascript">
        let videoId = '{{ show['trailer_id'] }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/embed-youtube.js') }}"></script>
{% endblock %}